In [1]:
import pandas as pd
import numpy as np

In [ ]:
from collections import Counter

In [2]:
raw_data = pd.read_csv('data/international_matches_1950_2017.csv')

In [3]:
raw_data = raw_data.sort_values(['date'])

In [4]:
set(raw_data['CupName'])

{'Continental Final',
 'Continental Qualifier',
 'FIFA Confederations Cup',
 'FIFA World Cup™ Final',
 'FIFA World Cup™ Qualifier',
 'Friendly',
 'Olympic Football Tournament Final',
 'Olympic Football Tournament Quali 1908-1956',
 'Olympic Football Tournament Qualifier',
 'Olympic Football Tournament Qualifier &gt;1956'}

In [5]:
match_types_keep = [ 'Continental Final',
                     'Continental Qualifier',
                     'FIFA Confederations Cup',
                     'FIFA World Cup™ Final',
                     'FIFA World Cup™ Qualifier']

In [6]:
matches_no_friendlys = raw_data.loc[raw_data['CupName'].isin(match_types_keep)]

In [7]:
matches_no_friendlys['goal_difference'] = matches_no_friendlys.apply(lambda row: row['team1Score'] - row['team2Score'], axis=1)

/home/fascha/Programs/anaconda3/envs/tf18/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
def winner(row):
    if row['goal_difference'] < 0:
        return -1
    elif row['goal_difference'] == 0:
        return 0
    elif row['goal_difference'] > 0:
        return 1
    else:
        return np.NaN
    
matches_no_friendlys['winner'] = matches_no_friendlys.apply(winner, axis=1)

/home/fascha/Programs/anaconda3/envs/tf18/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [9]:
matches_no_friendlys.describe()

,date,IdCupSeason,team1Score,team2Score,team1PenScore,team2PenScore,goal_difference,winner
count,1.449200e+04,14492.000000,14492.000000,14492.000000,165.000000,165.000000,14492.00000,14492.000000
mean,1.995470e+07,94685.423751,1.778982,1.077491,4.084848,3.945455,0.70149,0.257176
std,1.548582e+05,121235.147309,1.793398,1.328620,1.829321,1.878163,2.43710,0.848893
min,1.950031e+07,6.000000,0.000000,0.000000,0.000000,1.000000,-22.00000,-1.000000
25%,1.985092e+07,3097.000000,1.000000,0.000000,3.000000,3.000000,-1.00000,-1.000000
50%,1.999101e+07,3999.000000,1.000000,1.000000,4.000000,4.000000,1.00000,1.000000
75%,2.008060e+07,250415.000000,3.000000,2.000000,5.000000,5.000000,2.00000,1.000000
max,2.016071e+07,277952.000000,31.000000,22.000000,11.000000,12.000000,31.00000,1.000000

In [10]:
matches_exclude_outliers = matches_no_friendlys.loc[np.abs(matches_no_friendlys['goal_difference']) < 7]

In [11]:
cols = list(matches_exclude_outliers.columns)
matches_exclude_outliers_reverse = matches_exclude_outliers.copy()

matches_exclude_outliers_reverse['team1'] = matches_exclude_outliers['team2']
matches_exclude_outliers_reverse['team2'] = matches_exclude_outliers['team1']
matches_exclude_outliers_reverse['team1Text'] = matches_exclude_outliers['team2Text']
matches_exclude_outliers_reverse['team2Text'] = matches_exclude_outliers['team1Text']

matches_exclude_outliers_reverse['team1Score'] = matches_exclude_outliers['team2Score']
matches_exclude_outliers_reverse['team2Score'] = matches_exclude_outliers['team1Score']
matches_exclude_outliers_reverse['team1PenScore'] = matches_exclude_outliers['team2PenScore']
matches_exclude_outliers_reverse['team2PenScore'] = matches_exclude_outliers['team1PenScore']

matches_exclude_outliers_reverse['goal_difference'] = matches_exclude_outliers['goal_difference'] * -1
matches_exclude_outliers_reverse['winner'] = matches_exclude_outliers['winner'] * -1

matches_exclude_outliers_reverse['resText'] = matches_exclude_outliers['resText']

In [12]:
def reverseScore(row):
#     if '(' in score:
#         return '{} ({})'.format(score.split(' ')[0], score.split('(')[1][:-1][::-1])
#     return score[::-1]
    if row['statText'] == 'Win on penalty':
        return '{}-{} ({}-{})'.format(row['team1Score'], row['team2Score'], int(row['team1PenScore']), int(row['team2PenScore']))
    return '{}-{}'.format(row['team1Score'], row['team2Score'])
    
# matches_exclude_outliers['resText'] = matches_exclude_outliers.apply(reverseScore)

In [16]:
matches_exclude_outliers_reverse['resText'] = matches_exclude_outliers_reverse.apply(reverseScore, axis=1)

In [17]:
matches_exclude_outliers.tail()

,date,team1,team1Text,team2,team2Text,resText,statText,venue,IdCupSeason,CupName,team1Score,team2Score,team1PenScore,team2PenScore,goal_difference,winner
22550,20160702,GER,Germany,ITA,Italy,1-1 (6-5),Win on penalty,"Stade de Bordeaux - Bordeaux , France",270536,Continental Final,1,1,6.0,5.0,0,0
22551,20160703,FRA,France,ISL,Iceland,5-2,NaN,"Stade de France - Saint-Denis , France",270536,Continental Final,5,2,NaN,NaN,3,1
22552,20160706,POR,Portugal,WAL,Wales,2-0,NaN,"Stade de Gerland - Lyon , France",270536,Continental Final,2,0,NaN,NaN,2,1
22553,20160707,GER,Germany,FRA,France,0-2,NaN,"Stade Vélodrome - Marseilles , France",270536,Continental Final,0,2,NaN,NaN,-2,-1
22554,20160710,POR,Portugal,FRA,France,1-0,AET,"Stade de France - Saint-Denis , France",270536,Continental Final,1,0,NaN,NaN,1,1

In [18]:
matches_exclude_outliers_reverse.tail()

,date,team1,team1Text,team2,team2Text,resText,statText,venue,IdCupSeason,CupName,team1Score,team2Score,team1PenScore,team2PenScore,goal_difference,winner
22550,20160702,ITA,Italy,GER,Germany,1-1 (5-6),Win on penalty,"Stade de Bordeaux - Bordeaux , France",270536,Continental Final,1,1,5.0,6.0,0,0
22551,20160703,ISL,Iceland,FRA,France,2-5,NaN,"Stade de France - Saint-Denis , France",270536,Continental Final,2,5,NaN,NaN,-3,-1
22552,20160706,WAL,Wales,POR,Portugal,0-2,NaN,"Stade de Gerland - Lyon , France",270536,Continental Final,0,2,NaN,NaN,-2,-1
22553,20160707,FRA,France,GER,Germany,2-0,NaN,"Stade Vélodrome - Marseilles , France",270536,Continental Final,2,0,NaN,NaN,2,1
22554,20160710,FRA,France,POR,Portugal,0-1,AET,"Stade de France - Saint-Denis , France",270536,Continental Final,0,1,NaN,NaN,-1,-1

In [59]:
matches_both = pd.concat([matches_exclude_outliers, matches_exclude_outliers_reverse])

In [65]:
Counter(matches_both['team1']).most_common()

[('BRA', 348),
 ('MEX', 329),
 ('ITA', 316),
 ('ESP', 315),
 ('ARG', 307),
 ('URU', 300),
 ('FRA', 293),
 ('NED', 293),
 ('CRC', 287),
 ('ENG', 283),
 ('POR', 281),
 ('SWE', 272),
 ('BEL', 271),
 ('COL', 270),
 ('PAR', 268),
 ('DEN', 265),
 ('CHI', 264),
 ('IRL', 257),
 ('HUN', 257),
 ('NGA', 257),
 ('BUL', 256),
 ('ROU', 255),
 ('PER', 252),
 ('TUR', 251),
 ('HON', 251),
 ('USA', 246),
 ('GRE', 245),
 ('SCO', 243),
 ('SUI', 242),
 ('KOR', 241),
 ('NIR', 239),
 ('NOR', 238),
 ('AUT', 237),
 ('POL', 237),
 ('EGY', 236),
 ('CMR', 232),
 ('MAR', 231),
 ('SLV', 224),
 ('ALG', 222),
 ('IRN', 221),
 ('TRI', 221),
 ('ZAM', 221),
 ('ECU', 218),
 ('TUN', 216),
 ('WAL', 214),
 ('BOL', 213),
 ('LUX', 212),
 ('FIN', 211),
 ('CIV', 211),
 ('GHA', 210),
 ('GUA', 202),
 ('CYP', 200),
 ('GUI', 200),
 ('ISL', 194),
 ('JPN', 193),
 ('JAM', 191),
 ('YUG', 189),
 ('KSA', 185),
 ('ISR', 182),
 ('ALB', 181),
 ('GER', 180),
 ('MLT', 179),
 ('SEN', 179),
 ('VEN', 178),
 ('TOG', 177),
 ('CHN', 175),
 ('AUS', 170),
 ('CGO', 164),
 ('KEN', 162),
 ('KUW', 162),
 ('URS', 161),
 ('HAI', 160),
 ('PAN', 158),
 ('QAT', 158),
 ('SDN', 157),
 ('TCH', 156),
 ('MLI', 156),
 ('THA', 148),
 ('CAN', 147),
 ('UGA', 147),
 ('IRQ', 147),
 ('UAE', 147),
 ('FRG', 144),
 ('RUS', 143),
 ('CZE', 142),
 ('CRO', 142),
 ('ETH', 140),
 ('CUB', 139),
 ('ZIM', 137),
 ('ANG', 136),
 ('MWI', 135),
 ('LBR', 131),
 ('HKG', 129),
 ('BHR', 129),
 ('BFA', 128),
 ('SVN', 126),
 ('FRO', 125),
 ('LVA', 125),
 ('RSA', 125),
 ('IDN', 124),
 ('PRK', 123),
 ('MOZ', 120),
 ('EST', 120),
 ('UKR', 119),
 ('UZB', 119),
 ('GAB', 117),
 ('SLE', 117),
 ('NZL', 116),
 ('SYR', 115),
 ('TAN', 115),
 ('LTU', 115),
 ('SVK', 115),
 ('MAS', 114),
 ('SIN', 108),
 ('COD', 108),
 ('ARM', 108),
 ('BEN', 107),
 ('MKD', 106),
 ('SUR', 104),
 ('LBY', 104),
 ('JOR', 104),
 ('MRI', 103),
 ('BLR', 103),
 ('GEO', 102),
 ('MDA', 102),
 ('AZE', 102),
 ('BIH', 102),
 ('MAD', 97),
 ('GDR', 96),
 ('OMA', 96),
 ('SMR', 96),
 ('VIN', 95),
 ('LIE', 95),
 ('NAM', 94),
 ('KAZ', 90),
 ('AND', 90),
 ('ZAI', 88),
 ('IND', 87),
 ('BOT', 87),
 ('NIG', 86),
 ('GUY', 86),
 ('ATG', 85),
 ('TPE', 83),
 ('LIB', 83),
 ('BRB', 83),
 ('ANT', 82),
 ('YEM', 80),
 ('VIE', 78),
 ('SKN', 77),
 ('GRN', 76),
 ('LES', 75),
 ('BAN', 75),
 ('RWA', 73),
 ('BDI', 66),
 ('MTN', 66),
 ('NCA', 65),
 ('LCA', 65),
 ('CPV', 65),
 ('SOL', 65),
 ('TAH', 64),
 ('GAM', 64),
 ('DOM', 63),
 ('TKM', 63),
 ('FIJ', 62),
 ('PAK', 60),
 ('SWZ', 57),
 ('BER', 56),
 ('SRI', 54),
 ('SRB', 53),
 ('PUR', 52),
 ('VAN', 51),
 ('TJK', 50),
 ('EQG', 49),
 ('NEP', 48),
 ('MDV', 48),
 ('PLE', 48),
 ('CHA', 47),
 ('PHI', 44),
 ('CAM', 44),
 ('MAC', 44),
 ('BLZ', 43),
 ('CAY', 42),
 ('KGZ', 42),
 ('MYA', 40),
 ('CTA', 40),
 ('SEY', 40),
 ('MNE', 39),
 ('GNB', 38),
 ('DMA', 37),
 ('AFG', 32),
 ('SAM', 32),
 ('TGA', 31),
 ('ARU', 30),
 ('PNG', 29),
 ('VGB', 29),
 ('ERI', 29),
 ('LAO', 29),
 ('COK', 27),
 ('NCL', 27),
 ('BAH', 23),
 ('AIA', 22),
 ('CUW', 22),
 ('STP', 21),
 ('MNG', 21),
 ('SCG', 21),
 ('COM', 21),
 ('SOM', 20),
 ('ASA', 20),
 ('BRU', 18),
 ('DJI', 18),
 ('MSR', 18),
 ('VIR', 18),
 ('TCA', 16),
 ('BHU', 15),
 ('GUM', 13),
 ('TLS', 11),
 ('SSD', 9),
 ('YMD', 5),
 ('SAA', 4),
 ('MTQ', 3),
 ('TUV', 3)]

In [92]:
winpercentage_per_team = {}
for team, num_games in Counter(matches_both['team1']).most_common():
    if num_games > 100:
#         vals = matches_both.loc[matches_exclude_outliers['team1'] == team]['winner'].value_counts()
#         wdl = [0, 0, 0]
#         for index, value in matches_both.loc[matches_exclude_outliers['team1'] == team]['winner'].value_counts().iteritems():
#             if index == -1:
#                 wdl[0] = value
#             elif index == 0:
#                 wdl [1] = value
#             elif index == 1:
#                 wdl[2] = value

#         winpercentage_per_team[team] = wdl

In [102]:
matches_both.loc[matches_exclude_outliers['team1'] == 'BEL']['winner'].value_counts()

-1    112
 1    112
 0     48
Name: winner, dtype: int64

In [103]:
data = pd.read_csv('data/match_features.csv')

In [104]:
data.head()

,date,team1,team2,team1Home,team2Home,neutralVenue,friendly,qualifier,finaltourn,last10games_w_per.t1,...,last10games_d_per.t2,last30games_d_per.t2,last50games_d_per.t2,last10games_gd_per.t2,last30games_gd_per.t2,last50games_gd_per.t2,last10games_opp_cc_per.t2,last30games_opp_cc_per.t2,last50games_opp_cc_per.t2,outcome
0,1950-03-08T00:00:00Z,WAL,NIR,True,False,False,False,True,False,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.00,0.000,0.000,0.0000,0
1,1950-04-02T00:00:00Z,ESP,POR,True,False,False,False,True,False,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.00,0.000,0.000,0.0000,4
2,1950-04-09T00:00:00Z,ESP,POR,False,True,False,False,True,False,0.1,...,0.0,0.0,0.0,-0.4,-0.133333,-0.08,0.099,0.033,0.0198,0
3,1950-04-15T00:00:00Z,ENG,SCO,False,True,False,False,True,False,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.00,0.000,0.000,0.0000,1
4,1950-06-24T00:00:00Z,BRA,MEX,False,False,True,False,False,True,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.00,0.000,0.000,0.0000,4